/* цвета, градиенты */

$color-black = #333333;
$color-blue = #1C79CE;
$color-darkblue = #0B1F3E;
$color-red = #D83339;
$color-gray = #828282;
$color-lightgray = #FCFCFC;
$color-border = #F2F2F2;
$blue-gradient = linear-gradient(to right, #133975 0%, #0B1F3E 100%);




$text-gradient = {
	background: $blue-gradient,
	-webkit-background-clip: text,
	-webkit-text-fill-color: rgba(255, 255, 255, 0)
};

