@import 'reset.css';
@import '__fonts.styl';
@import '__variables.styl';
@import '__helpers.styl';
@import '__animations.styl';
@import '__adaptive.styl';

html {
	scroll-behavior: smooth;
}


html, body {
	font-display: swap;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $color-black;
	line-height: 1.5;

}


.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}


.header__nav {
	padding-top: 28px;
	padding-bottom: 22px;
}

.header__ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__li {
	height: 35px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header__li, .header__link {
	display: flex;
}

.header__link_logo {
	margin-right: 105px;
}

.header__link_phone {
	margin-left: 50px;
	padding-left: 15px;
	position: relative;
	font-weight: 500;
	font-size: 20px;
	&::before {
		position: absolute;
		content: url('../img/icons/header-phone.svg');
		top: 5px;
		left: -12px;
	}
}

.header__link {
	text-decoration: none;
	text-transform: uppercase;
	color: $color-black;
}

.header__link_arrow {
	position: relative;
	padding-right: 8px;
	margin-right: 8px;
	&::after {
		content: url('../img/icons/arrow-down.svg');
		position: absolute;
		top: -3px;
		right: -10px;
	}
}



.header__link_callback {
	font-weight: 500;
	position: relative;
	top: 1px;
	{$text-gradient};

	&::after {
		position: absolute;
		content: '';
		height: 1px;
		width: 100%;
		background: $blue-gradient;
		bottom: -2px;
	}

}

.header_left {
	padding-top: 115px;
}

.header__h1 {
	font-weight: 700;
	font-size: 42px;
	text-transform: uppercase;
	margin-bottom: 17px;
}

.header__h1_blue {
	color: $color-blue;

}

.header__h2 {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 40px;
}


.main-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 70px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: $color-red;
	border: none;
	outline: none;
	font-weight: 600;
	box-shadow: 0 12px 25px -12px $color-red;
	border-radius: 4px;
	& img {
		margin-left: 20px;
	}

}

.header__advantages {
	margin-top: 52px;

}