@import 'reset.css';
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/montserrat-v15-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(''), url("fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-regular.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-regular.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-regular.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/montserrat-v15-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(''), url("fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-500.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-500.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-500.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/montserrat-v15-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(''), url("fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-600.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-600.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-600.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/montserrat-v15-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(''), url("fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-700.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-700.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-700.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("fonts/montserrat-v15-latin_cyrillic-800.eot"); /* IE9 Compat Modes */
  src: local(''), url("fonts/montserrat-v15-latin_cyrillic-800.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-800.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-800.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-800.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-800.svg#Montserrat") format('svg'); /* Legacy iOS */
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
button:hover,
button:focus {
  cursor: pointer;
}
@media screen and (max-width: 1439.98px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 576px;
  }
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-display: swap;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
  background-color: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.header__nav {
  padding-top: 28px;
  padding-bottom: 22px;
}
.header__ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__li {
  height: 35px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__li,
.header__link {
  display: flex;
}
.header__link_logo {
  margin-right: 105px;
}
.header__link_phone {
  margin-left: 50px;
  padding-left: 15px;
  position: relative;
  font-weight: 500;
  font-size: 20px;
}
.header__link_phone::before {
  position: absolute;
  content: url("../img/icons/header-phone.svg");
  top: 5px;
  left: -12px;
}
.header__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}
.header__link_arrow {
  position: relative;
  padding-right: 8px;
  margin-right: 8px;
}
.header__link_arrow::after {
  content: url("../img/icons/arrow-down.svg");
  position: absolute;
  top: -3px;
  right: -10px;
}
.header__link_callback {
  font-weight: 500;
  position: relative;
  top: 1px;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
}
.header__link_callback::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  bottom: -2px;
}
.header_left {
  padding-top: 115px;
}
.header {
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 65px;
}
.header_right {
  position: absolute;
  top: 100px;
  right: 0;
  height: 553px;
  width: 980px;
}
.header_right img {
  object-fit: cover;
}
.header__h1 {
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.header__h1_blue {
  color: #1c79ce;
}
.header__h2 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 40px;
}
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 70px;
  text-transform: uppercase;
  color: #fff;
  background-color: #d83339;
  border: none;
  outline: none;
  font-weight: 600;
  box-shadow: 0 12px 25px -12px #d83339;
  border-radius: 4px;
}
.main-button img {
  position: relative;
  left: 20px;
}
.main-button:hover,
.main-button:focus {
  box-shadow: 0 15px 25px -10px #b93339;
  transition: all 0.3s ease;
}
.main-button:hover img,
.main-button:focus img {
  left: 25px;
  transition: all 0.3s ease;
}
.header__advantages {
  margin-top: 52px;
}
.header__advantage {
  padding-left: 30px;
  position: relative;
}
.header__advantage:not(:last-child) {
  margin-bottom: 8px;
}
.header__advantage::before {
  position: absolute;
  content: url("../img/icons/header-check.svg");
  left: 0;
  top: 1px;
}
.calculator__wrapper {
  background-color: #fcfcfc;
  padding-top: 65px;
  padding-bottom: 65px;
}
.calculator {
  padding: 60px 100px;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.calculator__heading {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  margin-bottom: 30px;
}
.calculator__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.calculator__inputs:first-of-type {
  margin-bottom: 20px;
}
.calculator__inputs_numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.calculator__input {
  padding: 23px 10px 23px 30px;
  height: 70px;
  border: 1px solid #f2f2f2;
}
.calculator__input_split {
  width: 250px;
  border-radius: 4px;
}
.calculator__input_split:first-child {
  margin-right: -20px;
}
.calculator__input_split:nth-child(3) {
  margin-left: -20px;
}
.calculator__input_weight {
  width: 210px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.calculator__input_volume {
  width: 210px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left: none;
}
.calculator__input_length {
  width: 142px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: none;
}
.calculator__input_width {
  width: 155px;
  padding: 23px 20px;
}
.calculator__input_height {
  width: 142px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left: none;
}
.calculator__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 2px;
}
.pricelist__text {
  text-transform: uppercase;
  margin-top: 23px;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
}
.pricelist__text a {
  border-bottom: 1px solid #0b1f3e;
}
.section__heading {
  color: #333;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  margin-bottom: 40px;
}
.section__heading span {
  color: #1c79ce;
}
.advantages {
  padding-top: 65px;
  padding-bottom: 35px;
}
.advantages__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.advantages__item {
  margin-bottom: 30px;
  border: 1px solid #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 15px 30px 36px;
  width: 380px;
  min-height: 210px;
}
.advantages__item:nth-child(odd) {
  background-color: #fcfcfc;
}
.advantages__item:nth-child(even) {
  background-color: #fff;
}
.advantages__item img {
  margin-bottom: 20px;
}
.advantages__text span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.services__wrapper {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #fcfcfc;
}
.services_top,
.services_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.services_bottom {
  margin-top: 30px;
}
.services__item {
  background-color: #fff;
  position: relative;
  width: 278px;
  height: 283px;
  padding: 31px 22px;
  border: 1px solid #f2f2f2;
}
.services__item .services__heading {
  width: 60%;
}
.services__item img {
  position: absolute;
  bottom: 22px;
  right: 22px;
}
.services__item_large {
  padding: 60px 45px;
  width: 585px;
  height: 280px;
}
.services__item_large .services__heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  width: 100%;
}
.services__item_large img {
  position: absolute;
  bottom: 42px;
  right: 42px;
}
.services__heading {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
}
.services__heading:first-letter {
  color: #d83339;
}
.services__info {
  width: 547px;
  margin-top: 40px;
}
.about-us {
  padding-top: 65px;
  padding-bottom: 65px;
}
.about-us__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.about-us__content {
  margin-left: 10px;
  background: url("../img/about-us--map.png") no-repeat center center;
  height: 525px;
  width: 525px;
  padding: 120px 20px 120px 46px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about-us__heading {
  font-weight: 700;
  font-size: 42px;
  color: #1c79ce;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.about-us__text {
  margin-bottom: 70px;
}
.about-us__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: #d83339;
  text-transform: uppercase;
}
.about-us__link img {
  padding-left: 18px;
}
.about-us__numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.about-us__number {
  width: 30%;
}
.about-us__number span {
  font-weight: 800;
  font-size: 80px;
  color: #1c79ce;
  line-height: 1;
}
.callback {
  margin-top: 65px;
  margin-bottom: 65px;
  width: 100%;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  border-radius: 4px;
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.callback__heading {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
}
.callback__inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.callback__inputs input {
  width: 38%;
  margin-right: 0;
}
.callback__inputs .main-button {
  width: 220px;
  margin-left: 30px;
}
.callback__text,
.callback__link {
  color: #fff;
  font-size: 12px;
}
.callback__link {
  text-decoration: none;
  position: relative;
}
.callback__link::after {
  position: absolute;
  content: '';
  width: 100%;
  bottom: -3px;
  left: 0;
  height: 1px;
  background-color: #828282;
}
.our-clients {
  padding-top: 65px;
  position: relative;
}
.embla {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  min-width: 25%;
  padding-right: 25px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.embla__button {
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  top: 72%;
}
.embla__button_prev {
  left: 0;
}
.embla__button_next {
  right: 0;
}
.embla__button:hover,
.embla__button:focus {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}
.footer {
  background-color: #fcfcfc;
  margin-top: 120px;
}
.footer__inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 40px 30px 0;
  height: 445px;
  width: calc(100% - 530px);
}
.footer__info_top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-bottom: 65px;
}
.footer__nav {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
  height: 100%;
}
.footer__li:not(:last-child) {
  margin-bottom: 10px;
}
.footer__li_large {
  margin-bottom: 13px;
}
.footer__info_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  color: #333;
}
.footer__li_large,
.footer__link_large {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
}
.footer__copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #828282;
}
.footer__link_policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
  position: relative;
  color: #828282;
}
.footer__link_policy::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #828282;
}
.footer__addresses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 530px;
  height: 505px;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  margin-top: -60px;
  position: relative;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 57px 0 63px 53px;
  color: #fff;
}
.address__heading {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 27px;
}
.address__select {
  margin-bottom: 33px;
  height: 70px;
  width: 392px;
  padding: 20px 30px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.address__select_wrapper {
  position: relative;
}
.address__select_wrapper::after {
  position: absolute;
  content: url("../img/icons/select-arrow-down.svg");
  top: 22px;
  right: 30px;
}
.address__subheading {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 25px;
  margin-top: 0;
}
.address__phone,
.address__email,
.footer address {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  display: flex;
}
.address__phone img,
.address__email img,
.footer address img {
  padding-right: 10px;
}
.address__phone:not(:first-of-type) {
  padding-left: 35px;
}
.address__phone:first-of-type {
  display: flex;
}
.address__phone:first-of-type img {
  padding-right: 10px;
}
.address__email {
  margin-top: 18px;
}
.footer address {
  margin-bottom: 18px;
}
.header__type {
  padding-bottom: 35px;
}
.type__header {
  height: 186px;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-radius: 4px;
}
.type__heading {
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  color: #fff;
  text-transform: uppercase;
}
.type__heading:first-letter {
  color: #d83339;
}
.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 70px;
}
.breadcrumbs__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumbs__item {
  margin-right: 44px;
  position: relative;
}
.breadcrumbs__item:not(:last-of-type)::after {
  content: url("../img/icons/breadcrumbs-arrow-right.svg");
  position: absolute;
  right: -25px;
  top: 0;
}
.breadcrumbs__item span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
}
.breadcrumbs__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
}
.breadcrumbs__link_active {
  -webkit-text-fill-color: #828282;
}
.type__content {
  margin-bottom: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.type__info {
  margin-right: 50px;
}
.type__text:not(:last-child) {
  margin-bottom: 30px;
}
.type .about-us__numbers {
  padding-top: 25px;
  padding-bottom: 65px;
}
.documents {
  padding-bottom: 35px;
}
.documents__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.documents__block:not(:last-child) {
  margin-bottom: 40px;
}
.documents__heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 25px;
}
.documents__link {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255,255,255,0);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.documents__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #0b1f3e;
}
.type__prices .breadcrumbs {
  margin-bottom: 0;
}
.questions__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.questions__item {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.questions__item:not(:last-child) {
  margin-bottom: 30px;
}
.questions__title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 75px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: #333;
  position: relative;
}
.questions__title::after {
  position: absolute;
  top: 25px;
  right: 30px;
  content: url("../img/icons/questions-arrow-down.svg");
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
.questions__item:nth-child(odd) .questions__title {
  background-color: #fcfcfc;
}
.questions__answer {
  padding-left: 60px;
  padding-right: 80px;
  opacity: 0;
  height: 0;
  transition: all 0.15s ease;
}
.questions__item_active .questions__title {
  background: linear-gradient(to right, #133975 0%, #0b1f3e 100%);
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
}
.questions__item_active .questions__title::after {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.questions__item_active .questions__answer {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  opacity: 1;
  transition: all 0.3s ease;
}
.contacts__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts__item:not(:last-child) {
  margin-bottom: 100px;
}
.contacts__item:last-child {
  padding-bottom: 55px;
}
.contacts__links {
  width: calc(100% - 727px);
  margin-right: 50px;
}
.contacts__links address,
.contacts__links .address__phone,
.contacts__links .address__email {
  color: #333;
  font-style: normal;
}
.contacts__links address {
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
}
.contacts__links address img {
  padding-right: 10px;
}
.contacts__links .address__email {
  margin-top: 18px;
}
.contacts__heading {
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 30px;
}
.contacts__map img {
  object-fit: cover;
}
